*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: green;
    padding: 20px;
}
h1 span{
    color: rgb(218, 59, 11);
}

/*Styling navigation bar*/
nav{
    background-color: rgb(92, 6, 78);
    display: grid;
    place-items: center;
    height: 60px;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding-bottom: 5px;
    padding: 20px;
    text-decoration: none;
    color: rgb(148, 242, 245);
    font-weight: 600;
    transition: 0.2s ease-in;  
}
nav ul a:hover{
    background-color: brown;
    color: white;
}
/*End of the navigation bar*/

/*Styling the description section*/
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 4px;
}
.item img:hover{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}

/*styling buttons*/
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(148, 3, 104);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}
.item button a{
    text-decoration: none;
    color: white;
}
.item button:hover{
    transform: scale(1.04);
    background-color: rgb(192, 65, 181);
}
/*end of the description section*/

/*--Styling footer section--*/
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.about{
    width: 40%;    
}
footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 110px;
    height: 2px;
    background: #f00;
}
footer p{
    color: #999;
}
.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #f00;
}
.sci li a .fas{
    color: #fff;
    font-size: 20px;
}
.sci li a .fab{
    color: #fff;
    font-size: 20px;
}
.quickLinks{
    position: relative;
    width: 25%;
}
.quickLinks ul li{
    list-style: none;
}
.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks a:hover{
    color: #fff;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.contact .info li a:hover{
    color: #fff;
}
.copyright{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media screen and (max-width: 1000px){
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px){
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}